@page "/ControlBoard/AppDesigner"
@rendermode InteractiveServer

@using Newtonsoft.Json
@using OTSSDK
@using OTSControls
@using static OTSControls.ItemTreeNode

@inject OTSCommon.Plugins.PluginManager Plugins
@inject IJSRuntime JsRuntime

<div class="designer-base">
    <div class="designer-toolbar">
        <div class="designer-actions">
            <input type="checkbox" checked="@IsPathShown" @onchange="PathShownChanged"/>
            <label for="">Show Paths</label>
            <InputSelect Value="SelectType" TValue="string" ValueChanged="TestFunc" ValueExpression="@(() => SelectType)">
                @* <option value="RegisterLibrary">Register Library</option> *@
                <option value="RegisterComponent">Register Component</option>
                <option value="GetApp">Get App</option>
            </InputSelect>
        </div>
        <div class="designer-options">
            <button @onclick="@(_ => SetConfigMode(ConfigMode.CfgSearch))">Components</button>
            <button @onclick="@(_ => SetConfigMode(ConfigMode.CfgSystem))">System Settings</button>
        </div>
    </div>
    <div class="editor">
        <div class="editor-board">
            <canvas id="design-canvas">

            </canvas>
        </div>
        <div class="config-panel">
            @if (CfgMode == ConfigMode.CfgSystem)
            {
                <div>
                    <span>System</span>
                </div>
            }
            else
            {
                <div>
                    <ItemTree
                        Items="@ComponentTree"
                        OnNodeSelect="OnComponentNodeSelect"
                        TreeName="Component Bank"
                    >
                        
                    </ItemTree>
                </div>
            }
            
        </div>
    </div>
</div>

@code{
    public bool IsPathShown { get; set; } = false;

    public IOTSComponentTemplate<IOTSComponent>? ConfigComponent { get; set; } = null;
    public IJSObjectReference OtsDesignerInterop { get; set; } = null!;
    public IJSObjectReference OtsDesigner { get; set; } = null!;

    public string SelectType = "";

    public class ComponentItem : ItemTreeNodeBase
    {
        public required IOTSLibrary Library;
        public required IOTSComponentTemplate<IOTSComponent>? Component;
    }

    private async void TestFunc(string value)
    {
        if(Libraries.Count == 0){ return; }
        var firstLib = Libraries.First();
        var component = firstLib.Components.First();

        switch (value)
        {
            case "RegisterComponent":
                var jsonComp = JsonConvert.SerializeObject(firstLib);
                await OtsDesigner.InvokeVoidAsync("insertComponent", jsonComp);
                break;
            case "GetApp":
                var res = await OtsDesigner.InvokeAsync<string>("getApplicationMap");
                var appMap = res;
                break;
        }

        SelectType = value;
    }

    public List<ComponentItem> ComponentTree { get; set; } = [];
    private List<IOTSLibrary> Libraries = [];
    private Dictionary<Guid, IOTSComponent> Components = [];

    public void LoadComponents()
    {
        ComponentTree = [];
        Libraries = Plugins.Libraries.ToList();

        foreach(var lib in Libraries)
        {
            var libNode = new ComponentItem
            {
                Label = lib.Name,
                NodeId = lib.ID.ToString(),
                Children = [],
                Library = lib,
                Component = null
            };

            foreach(var comp in lib.Components)
            {
                var compNode = new ComponentItem
                {
                    Label = comp.Name,
                    NodeId = comp.ID.ToString(),
                    Library = lib,
                    Component = comp
                };

                libNode.Children.Add(compNode);
            }

            ComponentTree.Add(libNode);
        }

        Console.WriteLine($"TREE : {ComponentTree.Count()}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            OtsDesignerInterop = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./otsdesigner/OTSDesignerManager.js");
            OtsDesigner = await OtsDesignerInterop.InvokeAsync<IJSObjectReference>("initDesigner");

            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        LoadComponents();

        base.OnInitialized();
    }

    public enum ConfigMode
    {
        CfgSearch,
        CfgSystem
    };

    public ConfigMode CfgMode { get; set; } = ConfigMode.CfgSearch;

    public void PathShownChanged()
    {

    }

    public void SetConfigMode(ConfigMode mode)
    {
        CfgMode = mode;
        Console.WriteLine($"Chang mode to {CfgMode}");
    }

    public async void OnComponentNodeSelect(ItemTreeNodeBase rawItem)
    {
        var item = (rawItem as ComponentItem)!;

        if (item.IsGroup)
        {

        } else
        {
            await OtsDesigner.InvokeVoidAsync("insertComponent", item.Component);
        }

    }
}
